section.skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 160rem;
    width: 80%;
    height: 80vh;
    padding-top: 20rem;
    padding-bottom: 75rem;
}

section .titulo-skills {
    text-align: center;
    margin-bottom: 5rem;
}

.titulo-skills h2{
    -webkit-text-stroke: 3px #dd868c9a;
    color: transparent; 
    font-size: 5rem;
    font-weight: 600;
}

.cards img {
    width: 70px;
    margin-top: 10px;
}

#skills .card-titulo {
    font-size: 20px;
}

#skills div.card-body:hover {
    background: linear-gradient(145deg, #ffffff, #dadad8);
    box-shadow:  20px 20px 60px #cececc,
             -20px -20px 60px #ffffff,
              5px 10px 15px 0px #dd868c;
              transition: .4s;
}

#skills div.card-body:hover img {
    filter: invert(68%) sepia(10%) saturate(1708%) hue-rotate(307deg) brightness(88%) contrast(97%);
}


/* Responsive */

@media (max-width: 991px) { 
    section.skills {
        margin-top: 207rem;
    }
    
}



@media (max-width: 420px) { 

    section.skills {
        padding-top: 70rem;
    }
    
}