section.sobre-mi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70rem;
    width: 80%;
    height: 80vh;
    padding-top: 15rem;
    padding-bottom: 60rem;
}

section .titulo-sobre-mi {
    text-align: center;
    margin-bottom: 5rem;
}

.titulo-sobre-mi h2{
    -webkit-text-stroke: 3px #dd868c9a;
    color: transparent; 
    font-size: 5rem;
    font-weight: 600;
}

section div.cards {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

section div.card {
    display: inline-flex;
    margin: 2rem;
}

.card-titulo {
    font-size: 3rem;
    font-weight: 600;
    color:  #DD868C;
    margin-top: 3rem;
}

p.card-text {
    font-size: 2rem;
    margin-top: 5rem;
}

div.card-body {
    border-radius: 2rem;
    padding: 2rem;
    background: linear-gradient(145deg, #dadad8, #ffffff);
    box-shadow:  20px 20px 60px #cececc,
             -20px -20px 60px #ffffff;
}

div.card {
    border-radius: 2rem;
}

.cv {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

a#cv {
    position: absolute;
    font-weight: 600;
    font-size: 4rem;
    text-decoration: none;   
    padding: 0rem 3rem 0rem 3rem;
    border-radius: 2rem;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent; 
    background-image: linear-gradient(to right, #8ac3e1, #a7bee9, #c8b8e4, #e3b3d3, #f2b2bd);
}

a#cv{
  border: none;
  outline: none;
  background: #272727;
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5rem;
}

a#cv:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

a#cv:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

a#cv:hover {
    transform: scale(1.2);
}



/* Responsive */

@media (max-width: 991px) { 
    section div.cards {
        display: block;
        margin-top: 2rem;
    }

    section div.card {
        margin: 5rem;
    }

    a#cv {
        margin-bottom: 0rem;
    }

}

@media (max-width: 740px) { 
    
    #sobre-mi div.card-body, #sobre-mi div.card{
        width: 33rem!important;
        height: 40rem!important;
    }

    #sobre-mi p.card-text {
        font-size: 16.5px;
    }

    #sobre-mi div.card {
        margin: 5rem 0rem;
    }
}



@media (max-width: 420px) { 
    #sobre-mi div.card-body, #sobre-mi div.card{
        width: 30rem!important;
        height: 50rem!important;
    }

    section.sobre-mi {
        top: 75%;
        padding-top: 10rem;
    }
    
    
}