.hola {
    font-size: 10rem;
    margin: 0 auto;
    background-color: #9b9b9b8f;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.712) 0px 5px 5px;
    margin-bottom: 3rem;
    font-weight: 600;
}

.titulo {
    font-size: 4rem;
    font-weight: 600;
}

section.principal {
    margin-inline: 5rem;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.principal {
    display: inline-flex;
}

.principal div img {
    margin-left: 20rem;
    width: 350px;
    position: absolute;    
}





